html {
    scroll-behavior: smooth;
    margin-bottom: 5%;
  }
table {
    font: 17px Calibri;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:rgba(196, 216, 255, 0.8);
    padding: 10px;
    overflow: hidden;
    width:100%;
}
.titlebox h1 {
    padding: 0px;
    font-size: 40px;
}
.titlebox p {
    font-size: 25px;
}
.titlebox {
    font-family: Calibri;
    position: fixed;
    margin-top: 5%;
    left: 2.5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 20%;
    background-color: rgba(196, 216, 255, 0.8);
    text-align: center;
}
.list {
    position:absolute;
    width: 50%;
    left: 25%;
    margin-top: 5%;
}
table:hover, .titlebox:hover {
    background-color:rgba(0, 25, 94, 0.8);
    color: rgb(195, 241, 255)
}
img {
    text-align: right;
    height: 100px;
    width: 100px;
}
h6 {
    text-align: left
}
a {
    color: inherit;
    text-decoration: inherit;
  }
.table {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
body {
    background-attachment: fixed;
    background-image: url(assets/high-resolution-winter-wallpaper-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
table, .titlebox {
    transition-property: background-color color;
    transition-duration: 750ms;
}
